/****** 9.Return the product id and the total quantities ordered for each product id in the Order Details table.  ******/
SELECT [ProductID]
      ,[Quantity]
  FROM [NORTHWND].[dbo].[Order Details]