/****** 11.Return a list of Suppliers containing company name, contact name, contact title and region description.  ******/
SELECT [SupplierID]
      ,[CompanyName]
      ,[ContactName]
      ,[ContactTitle]
      ,[Region]
  FROM [NORTHWND].[dbo].[Suppliers]